lmdb 
six 
fire 
opencv-python>=4.2.0.32
matplotlib 
anyconfig 
future 
imgaug 
numpy 
Polygon3==3.0.8 
pyclipper 
PyYAML>=5.4
scikit-image 
Shapely 
tensorboard 
tqdm 
addict 
flask 
pathlib 
flask_restful 
flask_cors 
natsort
torchsummary
anyconfig
